:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--yellow);
  font-family: "Figtree", sans-serif;
}

.card {
  background: var(--white);
  max-width: 350px;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid black;

  /* shadow effect */
  box-shadow: 10px 10px 0px #000;
}

.banner {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 18px;
}

.tag {
  background: var(--yellow);
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.9rem;
}

.date {
  margin: 12px 0;
  font-size: 0.9rem;
  color: #111;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.desc {
  color: var(--grey);
  margin-bottom: 18px;
  line-height: 1.3;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 35px;
}
